<div>
  <h2>List of Librarians</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead> 
    <tbody>
      <!-- <p *ngIf="(librarians | async)?.length === 0">No librarians found.</p> -->
      <tr *ngFor="let librarian of librarians | async">
        <td>{{ librarian.firstName }} +' '+{{ librarian.lastName }}</td>
        
        <td>{{ librarian.service }}</td>
        <td>{{ librarian.webexRoom }}</td>
        <td><button 
          (click)="selectLibrarian(librarian)" 
          class="select-button">
          Select Librarian
        </button></td>
      </tr>
    </tbody>
  </table>
</div>
