<div>
  <h2>Available Librarians</h2>

  <table *ngIf="librarians.length >= 0" border="1">
    <thead>
      <tr>
        <th>Librarian ID</th>
        <th>Name</th>

        <th>Service</th>
        <th>Hourly Rate</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let librarian of librarians">
        <td>{{ librarian.librarianId }}</td>
        <td>{{ librarian.firstName+" "+librarian.lastName }}</td>
        <td>{{ librarian.service }}</td>
        <td>{{ librarian.hourRate | currency }}</td>
        <td>  <a href="#" (click)="bookNow()">Book Now</a> </td>

      </tr>
    </tbody>
  </table>

  <div *ngIf="librarians.length === 0">
    <p>No librarians available at the moment.</p>
  </div>
</div>
